@import "../abstracts/core";

.contentTop {
  background-color: #fff;
  @include media(md){
    margin-top: 75px;
  }
  &__wrapper {
    background: url(https://cdn.bestjobs.eu/static/build/images/home-hero-remote.51ab153d.jpg) no-repeat;
    padding: 100px 0;
    background-size: contain;
    background-position: right;
    @include media(md){
      background-position: 303% -6px;
      background-size: 90%;
    }
    @include media(sm){
      background-position: 30% 95px;
      background-size: 130%;
      padding: 25px 0 150px 0;
    }
    p {
      &:first-of-type {
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        text-align: left;
        max-width: 500px;
      }
      &:last-of-type {
        color: #77838f;
        font-size: 24px;
        text-align: left;
        max-width: 500px;
        @include media(sm){
          font-size: 20px;
        }
      }
    }
  }
}