@import "../abstracts/core";

.jobs {
  position: relative;
  box-shadow: 0 1px 10px rgba(151, 164, 175, 0.1);
  padding: 10px 0 50px 0 ;
  border-top: 1px solid $border-color;
  background-color: #f8f9fa;

  &__topTitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 20px 0;
    text-align: left;
  }

  &__action {
    text-align: center;
    padding: 20px 0;

  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;

    &--card {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      background: #fff;
      font-size: 25px;
      border-radius: 8px;
      box-shadow: none;
      transition: box-shadow .2s ease-in-out;
      padding: 20px 30px;
      width: calc(100% / 4 - 30px);
      margin: 15px;
      position: relative;
      overflow: hidden;
      @include media(md) {
        width: calc(100% / 3 - 30px);
      }
      @include media(sm) {
        width: calc(100% / 2 - 30px);
      }
      @include media(xs) {
        width: calc(100% - 30px);
      }

      &:hover {
        box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
        transition: box-shadow .2s ease-in-out;
      }

      .card__favorite {
        svg {
          position: absolute;
          right: 20px;
          top: 20px;
          fill: red;
          width: 15px !important;

          path {
            fill: #ccc;
          }
        }
      }

      .card__top {
        display: flex;
        min-height: 75px;
        justify-content: center;
        align-items: center;

        .logo {
          width: 75px;
          margin: 0 auto;
        }

      }

      .card__content {
        .star-ratings-sprite {
          background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
          font-size: 0;
          height: 21px;
          line-height: 0;
          overflow: hidden;
          text-indent: -999em;
          width: 110px;
          margin: 0 auto;

          &-rating {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
            background-position: 0 100%;
            float: left;
            height: 21px;
            display: block;
          }
        }

        &--company {
          color: #999;
          font-size: 12px;
          text-align: center;
          margin-bottom: 10px;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        &--title {
          font-size: 15px;
          text-align: center;
          margin-top: 10px;
          color: $mainButtonColor;
          font-weight: bold;
          min-height: 60px;
        }
      }

      .card__action {
        margin-top: 60px;
        transition: 0.3s all ease;
        height: 40px;
        @include media(sm) {
          height: inherit;
          margin-top: 20px;

        }

        &__wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          &--left, &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
              margin: 0;
              color: #999;
              font-weight: bold;
              font-size: 13px;
              text-transform: uppercase;
            }

            span {
              color: #999;
              font-size: 13px;
            }
          }

          &--right {
            align-items: flex-end;
          }

        }

        .btn-type-one--inversed {
          width: 100%;
          margin-top: 25px;
          display: none;
          @include media(sm) {
            display: block;
          }
        }


      }

      &:hover {
        .card__action {
          margin-top: 10px;
          transition:  0.3s all ease-out;
          height: 95px;

          .btn-type-one--inversed {
            display: block;
          }

          &.inactive {
            display: none;
          }
        }
      }


    }
  }
}

