@import "../abstracts/core";

.job__modal {
    .modal-content {
        .modal-header {
            .modal-title {
                width: 100%;
                .company__logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    img {
                        width: 150px;
                        height: auto;
                        margin: 0 auto;
                    }
                }
                p {
                    font-size: 26px;
                    line-height: 20px;
                    color: $mainButtonColor;
                    text-align: center;
                    margin: 0;
                    padding-top: 15px;
                }

            }
        }
        .modal-body {
            .location {
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }
}