@import "../abstracts/core";

.btn-type-one {
    margin: 0 auto;
    color: #fff;
    background-color: $mainButtonColor;
    border-color: $mainButtonColor;
    transition: all .2s ease-in-out;
    position: relative;
    top: 0;
    &:hover {
        background-color: $mainButtonColorHover;
        border-color: $mainButtonColorHover;
        transition: all .2s ease-in-out;
        position: relative;
        top: -3px;
    }
}

.btn-type-one--inversed {
    margin: 0 auto;
    color: $mainButtonColor;
    background-color: #fff;
    border-color: $mainButtonColor;
    border: 1px solid $mainButtonColor;
    transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        background-color: $mainButtonColorHover;
        border: 1px solid $mainButtonColorHover;;
        transition: all .2s ease-in-out;
        position: relative;
    }
}