@import "../abstracts/core";
.searchBar {
  background:#fff;
  padding-bottom: 50px;
  &__wrapper {
    box-shadow: 0 3px 6px 0 rgba(30,32,34,.25);
    border: 1px solid $border-color;
    padding: 25px;
    border-radius: 10px;


    &--item {
      @include media(md){
        padding: 5px;
      }
      .form-group {
        margin: 0;
        position: relative;
        svg {
          position: absolute;
          top: 50% !important;
          left: 20px;
          transform: translate(-50%, -50%);
          color: #ccc;
        }
        input {
          min-height: 50px;
          padding-left: 35px;
        }


      }
       p {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
         @include media(md){
           margin-bottom: 10px;
         }
      }

      .btn-type-one {
        min-height: 50px;
        min-width: 155px;
        @include media(md){
          min-width: 100%;
        }
      }
      @include media(md){
        margin-bottom: 25px;
      }
    }
    .align-bottom {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}