
$mainButtonColorHover: #1a3c6a;
$border-color: #e7eaf3;
$mainButtonColor:#224d89;
$darkGrey:#8c98a4;

$grid-breakpoints: (
        xs: 500px,
        sm: 767px,
        md: 991px,
        lg: 1200px
);