@import "../abstracts/core";

.mastfooter {
  border-top: 1px solid $border-color;
  background: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    flex-wrap: wrap;
    &--item {
      display: flex;
      @include media(sm){
        margin-bottom: 30px;
        position: relative;
      }

      .logo {
        display: block;
        img {
          height: auto;
          width: 9.375rem;
        }
      }

      &--group {
        padding: 0 20px;
        h4 {
          margin: 0;
          font-size: 13px;
          margin-bottom: 10px;
          color:$darkGrey;
          font-weight: bold;

        }
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            padding: 5px 0px;
            a {
              font-size: 14px;
              color:red;
              color:$darkGrey;
            }
            &:hover {
              a {
                text-decoration: none;
                color: $mainButtonColorHover;
              }
            }
          }
        }
        .social {
          margin-bottom: 15px;
          .tooltip-custom {
            position: relative;
            .icon {
              font-size: 25px;
              color: $darkGrey;
              margin: 5px;
              width: 20px;
              height: 20px;
            }
            p{
              opacity: 0;
              visibility: hidden;
              position: absolute;
              background: grey;
              color: #fff;
              border-radius: 10px;
              margin: 0;
              text-align: center;
              width: 150px;
              font-size: 13px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &:hover {
              p {
                opacity: 1;
                visibility: visible;
                top: -40px;
              }
            }
          }
        }
        .download {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          a {
            display: flex;
            border: 1px solid $darkGrey;
            border-radius: 5px;
            padding: 5px 15px;
            position: relative;
            transition: 0.3s all ease;
            top: 0;
            align-items: center;
            &:hover {
              top: -3px;
              text-decoration: none;
              background: $darkGrey;
              .icon {
                color: #fff;
              }
              .text {
                p {
                  color: #fff;
                }
              }
            }
            &:last-of-type {
              margin-left: 15px;
            }
            .icon {
              font-size: 25px;
              color: $darkGrey;
              margin-right: 10px;
            }
            .text {
              p {
                margin: 0;
                font-size: 14px;
                line-height: 16px;
                color: $darkGrey;
                &:last-of-type {
                  font-weight: bold;
                }
              }
            }
          }
        }
        .language {
          display: flex;
          justify-content: center;
          align-items: center;
          .dropdown {
            button {
              background: transparent;
              color: $darkGrey;
              border: none;
              font-size: 16px;
              &:active,&:focus,&:visited {
                background: transparent;
                color: $darkGrey;
                border: none;
                font-size: 16px;
                outline: none;
                box-shadow: none !important;
              }
            }
          }
        }

      }
      &:last-of-type {
        @include media(lg){
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
.mastfooter__copyright {
  border-top: 1px solid $border-color;
  background: #fff;
  p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 15px 0;
    color: $darkGrey;
  }
}