@import "../abstracts/core";

.mastheader {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(151, 164, 175, 0.1);
  padding: 5px 0;
  border-bottom: 1px solid $border-color;
  transition: 0.5s all ease;
  &.sticky {
    position: sticky;
    top: 0;
    transition: 0.5s all ease;
  }

  @include media(md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--left {
      .logo {
        display: block;

        img {
          height: auto;
          width: 9.375rem;
        }
      }
    }
    &--right {
      .actions {
        @include media(md) {
          position: fixed;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background: #fff;
          margin: 0;
          transform: translateY(-200%);
          transition: 0.3s all ease;
          border-top: 1px solid $border-color;
        }
        &.show {
          top: 78px;
          transition: 0.3s all ease;
          transform: translateY(0%);
          @include media(sm){
            padding: 0 20px 20px 20px;
          }
        }
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;

        li {
          list-style: none;
          margin: 0 5px;

          &:last-of-type {

            a {
              border: 1px solid $mainButtonColor;
              border-radius: 5px;
              transition: 0.3s all ease;
              position: relative;
              top: 0;
              font-size: 14px;
            }

            &:hover {
              a {
                transition: 0.3s all ease;
                background: $mainButtonColor;
                color: #fff;
                position: relative;
                top: -3px;

              }
            }
          }

          a {
            font-size: 16px;
            padding: 10px 15px;
            text-decoration: none;
            color: $mainButtonColor;
            display: inline-block;

            svg {
              margin-right: 5px;
            }
          }
        }
      }

      .hamburger-icon-container {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        @include media_min(md) {
          display: none;
        }

        .hamburger-icon,
        .hamburger-icon:before,
        .hamburger-icon:after {
          content: '';
          position: absolute;
          height: 3px;
          width: 30px;
          background: $mainButtonColorHover;
          transition: all .2s ease;
        }

        .hamburger-icon {
          top: 50%;

          &:before {
            top: -200%
          }

          &:after {
            top: 200%

          }
        }

        &.hamburger-active {
          .hamburger-icon {
            transform: rotate(45deg) translate(-3px, -3px);

            &:before {
              top: 0;
              transform: rotate(90deg);

            }

            &:after {
              top: 0
            }
          }
        }
      }

    }
  }
}








